button {
    background-color: var(--white);
    color: var(--redLight);
    cursor: pointer;
    border: none;
    font-family: 'Sriracha', cursive;
    font-size: 26px;
}

.resetBtn:hover {
    color: var(--red);
}

.submitBtn:hover {
    color: var(--red);
    font-size: 30px;
    margin: -4px;
}
