.gameInterface {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 25%;
}

.gameInterface h2 {
    font-size: 3rem;
}